############################################
# S.I.S Web — PRODUCTION (cPanel Node.js)
# Web  → https://sis-administration.com
# API  → https://v1.sis-administration.com/api/v1
############################################

NODE_ENV=production
NEXT_PUBLIC_API_URL=https://v1.sis-administration.com/api/v1
